@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
    
}


html,
body {
    height: 100%;
    width: 100%;
}

#main{
    height: 100vh;
    width: 100vw;
    position: relative;
}

#nav {
    height: 50px;
    width: 100%;
    border-bottom: 1px solid #121212;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
}

label>i {
    font-size: 30px;

}

#checkbox {
    display: none;
}

#toggle{
    display: flex;
    align-items: center;
    gap: 10px;
}

#content {
    position: relative;
    height: calc(100% - 50px);
    width: 100%;
    display: flex;
    
}

h2{
    font-size: 3vh;
}

h2 span{
    color: orange;
}

.calculator-Container{
    position: relative;
    height:100%;
    width:70%;
}

.calc-display{
    position: relative;
    height: 25%;
}

.calc-display input{
    height: 100%;
    width: 100%;
    font-size: 6vh;
    text-align: right;

}

.history{
    height: 100%;
    width: 30%;
    padding:.5vw;
    border-left: 1px solid #121212;
}

.hist-part1{
    height: 50px;
    display: flex;
    justify-content:space-between;
    align-items: center;
    border-bottom: 1px solid orange;
}

.hist-part1 h2{
    letter-spacing: 1.5px;
    font-weight: 600;
}

.hist-part1 i{
    font-size:20px;

}

.hist-part2{
    padding: 10px;
    height:calc(100% - 50px);
    text-align: right;
    overflow-y: auto;
    font-size: 4vh;
}

.calc-items{
    height:75%;
    display:grid;
    grid-template-columns: repeat(4, 1fr);
}

.calc-items button{
    font-size: 5vh;
}

.allClear{
    grid-column-start: 1;
    grid-column-end: 3;
}

.equals{
    background-color: orange;
}

.backspace{
    grid-column-start: 3;
    grid-column-end: 5;
}

.list-items{
    list-style: none;
}

@media screen and (max-width:400px) {
    .history{
        display: none;
    }
    .calculator-Container{
        width: 100%;
    }

    .calc-display input{
        font-size: 6vh;
    }
};